# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Ambiente virtual
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Modelos e pesos (muito grandes para git)
*.bin
*.safetensors
*.pt
*.pth

# Hugging Face cache local
.cache/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
